@model animesFilmesCRUD_APP.Models.Anime

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Anime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkCover" class="control-label">Cover (Image link)</label>
                <input asp-for="LinkCover" class="form-control" />
                <span asp-validation-for="LinkCover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <textarea asp-for="Synopsis" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label">Release Year (yyyy)</label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label">Genre</label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

